@model  Courses.Models.Course

@{
    ViewBag.Title = "Търсене";
}

<h4>Търсене</h4>

@using (Html.BeginForm("Result", "Home", FormMethod.Get))
{
    <p>
        Търсене по име на специалност: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Търсене" />
    </p>
}